*{
    box-sizing: border-box;
}
:root{
    --bg:  #F4D04E;
}
body{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
/* .Main-body{
    background-color:white;
    width: 390px;
    height: auto;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-radius: 10px; 
    padding:20px;    
} */
.card-btn{
    background-color: var(--bg);
    border-radius: 8px;
    padding: 8px;
    border:none;
}
.card-heading:hover{
   color: var(--bg);
   cursor:pointer;
}
.card-desc{
    color:gray;
}
.card-author{
    display:flex;
}
.image-head img{
  border-radius: 12px;

}
.card { 
    max-width: 430px;
    margin: 40px auto;
    padding: 24px;
    border-radius: 16px;
     background: white; }


@media (max-width:600px){
  .card{ margin: 20px; padding: 16px; }
  .image-head img{ max-width: 100%; }
}